@import "/Styles/home.css";

.main-container {
  display: grid;
  grid-template-columns: 10vw 90vw;
  height: 90vh;
}

/* Hamburger menu is in home.css */

.aside {
  height: fit-content;
  /* background-color: aqua; */
}

.asideList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.menu .page-is-selected,
.aside .page-is-selected {
  color: rgb(192, 114, 114);
  font-weight: 900;
}
.asideList a {
  background-color: rgb(61, 61, 61);
  color: var(--white);
  text-decoration: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(109, 109, 109, 0.21);

  align-items: flex-start;
  padding: 10px;
  gap: 10px;
}

/* --content section start---- */
.allSections {
  margin-top: 3.5vw;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  /* margin-top: 20px; */
  /* gap: 10px; */
}

.content-container h2 {
  color: var(--white);
  margin-left: 1vw;
}

.content-parent {
  display: grid;
  grid-template-columns: repeat(8, 10vw);
  grid-template-rows: repeat(1, 15vw);

  /* background-color: blueviolet; */
  height: auto;
  max-width: 90vw;
  padding-left: 2vw;
  padding-top: 10px;
  gap: 1vw;
}

.items-grp {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}

/* --------contenet hover effect start */
.items-grp:hover::after {
  content: "Movie Title";
  display: flex;
  position: relative;
  top: 100%;
  height: 3vh;
  color: aliceblue;
  justify-content: center;
  background-color: #000000af;
}

.items-grp:hover {
  z-index: 20;
  transform: scale(1.2);
  border-radius: 0px;
}

.items-grp:hover ~ .items-grp {
  z-index: 0;
  filter: blur(4px);
}
/* --------content hover effect end  */

.content-container .item1 {
  background-image: url(/images/Square_Eyes_Cover1.jpeg);
}
.content-container .item2 {
  background-image: url(/images/Square_Eyes_Cover2.jpeg);
}
.content-container .item3 {
  background-image: url(/images/Square_Eyes_Cover3.jpeg);
}
.content-container .item4 {
  background-image: url(/images/Square_Eyes_Cover4.jpeg);
}
.content-container .item5 {
  background-image: url(/images/Square_Eyes_Cover5.jpeg);
}
.content-container .item6 {
  background-image: url(/images/Square_Eyes_Cover6.jpeg);
}
.content-container .item7 {
  background-image: url(/images/Square_Eyes_Cover7.jpeg);
}
.content-container .item8 {
  background-image: url(/images/Square_Eyes_Cover8.jpeg);
}
/* --content secttion end----  */

/* ----Content slider START---- */
.chevrons {
  z-index: 10;
  display: grid;
  grid-template-columns: 2vw auto repeat(3, 5px) auto 2vw;
  align-content: center;
  justify-content: space-around;
  justify-items: center;
  margin: 14px 0px;
  /* width: 87vw; */
  height: 1px;
  background-color: var(--red);
  /* gap: 15px; */
}

.chevronGrp {
  border-radius: 50%;
  opacity: 50%;
  max-height: 3vw;
  max-width: 3vw;
  background-color: rgba(255, 255, 255, 0.652);
  filter: invert(100%);
}

.rightChevron {
  justify-self: right;
}

.pageCount {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-top: 20px;
  background-color: rgb(89, 89, 89);
}

.page1 {
  background-color: rgb(192, 192, 192);
}

.chevronGrp:hover {
  opacity: 100%;
}

/* ----Content slider END----  */

@media screen and (max-width: 990px) {
  .main-container {
    grid-template-columns: 100vw 10vw;
  }

  .content-parent {
    padding-right: 0px;
    grid-template-columns: repeat(8, 30vw);
    grid-template-rows: repeat(1, 48vw);
    overflow-x: scroll;
  }

  .allSections {
    margin-top: 8%;
  }

  .aside {
    display: none;
  }
  .chevrons {
    width: 97vw;
  }

  .chevronGrp {
    max-height: 45px;
    max-width: 45px;
  }
}
